<div class="card">
    <p-menubar [model]="items" [style]="{'text-decoration': 'none'}">
        <ng-template pTemplate="start">
            <img src="https://e7.pngegg.com/pngimages/887/617/png-clipart-myntra-logo-e-commerce-flipkart-shop-and-win-text-discounts-and-allowances-thumbnail.png" height="40" class="mr-2" />
        </ng-template>
        <ng-template pTemplate="end">
            <input type="text" pInputText placeholder="Search" class="w-full" />
        </ng-template>
    </p-menubar>
</div>