.container{
    margin-top: 5%;
    margin-left: 5%;
    
}
.common-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  .form-input {
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid blueviolet;
    padding-left: 15px;
    color: blueviolet;
  }
  .form-button {
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
    cursor: pointer;
  }

  .checkout h1{
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.checkout h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}