/* app.component.css */

:host >>> .user-form {
    width: 30%;
    margin-left: 25%;
    width: 50%;
    margin-top: 1%;
  }
  
  :host >>> .p-inputtext {
    width: 100%;
  }

  .user-auth a{
    color: blueviolet;
    cursor: pointer;
  }

  .form{
    width: 20%;
  }