.container{
    
    background-color: blueviolet;
    width: 100%;
    height: 50vh;
   
    
}
.create-task-container{
    width: 100%;
    margin-top: 10%;
    margin-left: 35%;
}
input{
    width: 30%;
}